/*====COLORS====*/

//CYAN
$cyan-600: hsl(192, 37%, 48%);
$cyan-300: hsl(192, 90%, 77%);

//PURPLE
$purple-600: hsl(268, 34%, 53%);
$purple-300: hsl(268, 100%, 86%);

//SLATE
$slate-900: hsl(240, 21%, 20%);
$slate-600: hsl(240, 10%, 57%);
$slate-300: hsl(240, 18%, 85%);

//BASE
$white: hsl(0, 0%, 98%);

.cyan-300 {
  color: $cyan-300;
}

.slate-600 {
  color: $slate-600;
}
